<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>tinyApp - URL List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>

  <body>
    <div class="container col-md-10 col-md-offset-1">
      <header>
        <%- include('partials/_header') %>
      </header>

      <% if (Object.keys(urls).length === 0 && urls.constructor === Object) { %>
        <div class="row">
          <h3>You don't have any shortened URLs yet!</h3>
        </div>
      <% } else { %>
        <div class="row">
          <h2>Your shortened URLs</h2>

            <table class="table">
              <tr>
                <th>shortURL</th>
                <th id="longURL">URL</th>
                <th>Visits</th>
                <th>Created</th>
                <th>Actions</th>
              </tr>

              <% for (let key in urls) { %>
                <tr>
                  <td><%= key %></td>
                  <td><%= urls[key].url %></td>
                  <td><%= urls[key].visitors.length %></td>
                  <td><%= urls[key].created %></td>
                  <td>
                    <a href="/urls/<%= key %>" class="btn btn-default btn-xs transparent-btn">Edit</a>
                    <form method="POST" action="/urls/<%= key %>/delete?_method=DELETE" class="inline">
                      <input type="submit" value="Delete" class="btn btn-default btn-xs transparent-btn">
                    </form>
                  </td>
                </tr>
              <% } %>

            </table>
        </div>
      <% } %>

      <div class="row">
        <a href="/urls/new" class="btn btn-default btn-xs transparent-btn">Shorten new URL</a>
      </div>
    </div>
  </body>

</html>