<!DOCTYPE html>

<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>

  <table style="width: 50%">
    <tr style="text-align: left;">
      <th>shortURL</th>
      <th>URL</th>
    </tr>

    <% for (let key in urls) { %>
      <tr>
        <td><%= key %></td>
        <td><%= urls[key] %></td>
        <td>
          <a href="/urls/<%= key %>">Edit</a>
          <form method="POST" action="/urls/<%= key %>/delete" style="display: inline-block;">
            <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
    <% } %>

  </table>

  <a href="/urls/new">SHORTEN NEW URL</a>
</body>

</html>