<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>tinyApp - Show URL</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>

  <body>
    <header>
      <%- include('partials/_header') %>
    </header>

    <main>
      <h2 class="nomargin">ShortURL: /u/<%= shortURL %></h2>

      <h3 class="inline">Update link</h3>

      <form method="POST" action="/urls/<%= shortURL %>/update?_method=PUT" class="inline">
        <input type="text" name="updatedURL" value="<%= urlInfo.url %>" class="updateForm">
        <input type="submit" value="Update">
      </form>

      <p class="nomargin">Link has been visited <strong><%= urlInfo.visits %></strong> times</p>
      <p class="nomargin">Link created <%= urlInfo.created %></p>
    </main>

  </body>

</html>